a.no-underline:hover{
    text-decoration: none!important;
}

.td-hover {
    cursor: pointer;
}

address {
    border-bottom: 1px solid #ddd;
}

address .button {
    margin: 5px 0 10px;
}

.card-header {
    position: relative;
}

.card-actions {
    right: 15px;
    list-style: none;
    margin-bottom: 0;
    margin-top: -8px;
    padding-left: 0;
    position: absolute;
    top: 50%
}

.card-action {
    background-color: transparent;
    background-image: none;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: inherit;
    cursor: pointer;
    display: block;
    float: left;
    font-family: FontAwesome;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    height: 16px;
    line-height: 16px;
    margin-bottom: 0;
    -moz-osx-font-smoothing: grayscale;
    -ms-touch-action: manipulation;
    opacity: .75;
    padding: 0;
    position: relative;
    text-align: center;
    text-rendering: auto;
    touch-action: manipulation;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    white-space: nowrap;
    width: 16px
}

.card-action+.card-action {
    margin-left: 5px
}

.card-action:focus,.card-action:hover {
    opacity: 1;
    outline: 0
}

.card-toggler:before {
    content: "\f078"
}

.card-reload:before {
    content: "\f0e2"
}

.card-focus:before {
    content: "\f065"
}

.card-remove:before {
    content: "\f00d"
}

.card-collapsed:not(.card-focused) .card-header {
    border: none
}

.card-collapsed .card-toggler:before {
    content: "\f077"
}